/*Animating Head Text*/

svg {
  width: 100%;
}

text {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 5.5s forwards;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 5.5s forwards;
  -moz-animation: draw 5.5s forwards;
  -o-animation: draw 5.5s forwards;
  -ms-animation: draw 5.5s forwards;
  animation: draw 5.5s forwards;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

.center {
  text-align: center;
}
.img-round {
  border-radius: 50%;
  margin: 0 auto;
}

.align-justify {
  text-align: justify;
}

#profile-photo {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

/*Finish index section*/
.proj-index {
  /*background-color: #F8F8FF;*/
  padding: 15px 30px;
  margin-bottom: 100px;
  /*border: solid #42dca3 3px;*/
}

.proj-index li {
  list-style: none;
  /*border: solid #42dca3;*/
  /*color: #42dca3;*/
  /*border-width: 3px 3px 3px 30px;*/
  /*border-radius: 6px;*/
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 0 10px 0;
  padding: 2px 2px 2px 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.proj-index a {
  display: block;
  padding-left: 5px;
}

.proj-index a:hover,
.proj-index a:focus {
  color: #000;
  padding-left: 40px;
}

/*.proj-index li:hover,
.proj-index li:focus {
    outline: 0;
    color: #000;
    background-color: #42dca3;
}*/

.proj-index ul {
  padding: 0;
}

.proj-index h3,
.proj-index h4 {
  margin-bottom: 15px;
}


.pfl-btn {
  display: block;
  margin: 10px auto;
}


.footer {
  margin-bottom: 60px;
}


@media (min-width : 992px) {
  .pfl-btn {
  width: 50%;
  }

  .border-right {
    /*border-right: solid white 1px;*/
    border-right: solid white 1px;
    padding-right: 10%;
  }
  #last-hr {
    display: none;
  }

  #resume-texture {
    padding: 100px;
  }
}

.resume-pdf {
  height: 1050px;
  width: 800px;
}

@media (max-width : 992px) {
  .center-img-mobile {
    display: block;
    margin: 0 auto;
  }

  #resume-texture {
    padding: 25px;
  }
}






